.root {
    background-color: #222C36;
    padding: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Breaking", sans-serif;

    border-bottom: 1px solid gainsboro;

    .logo{
      display: flex;
      gap: 1rem;
      align-items: center;
      div{
        text-align: center;
        p{
          color: white;
          font-size: 3rem;
          span{
            color: #24CA8A;
          }
        }

        .party{
          font-size: 2.5rem;
          span{
            color: #97C3DD;
          }
        }
        
      }
      
    }

    .profile{
      .exitButton{
        background-color: transparent;
        border: none;
      }
    }
  }
  
  .logoImage{
    width: 5rem;
  }
  
  .nav {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
    
    a{
      color: white;
      text-decoration: none;
      
    }

    a:hover{
      text-decoration:underline;
      color: #24CA8A;
    }
  }
  
  
  